{% extends "pyalgotrade/header.html" %}

{% block content %}
    <style media="screen">
        #editor {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 608px;
        }
            #editorRow {
            height: 608px;
        }
    </style>

    <div id="editorRow" class="row">
        <div class="col-md-6">
            <div id="editor">print "Hello World!"</div>
        </div>
        <div class="col-md-6">
            <textarea style="min-width: 100%;height:200px;" id="result" readonly></textarea>
        </div>
    </div>
    <div class="row">
        {% csrf_token %}
        <button id="btnSubmit" type="submit" class="btn btn-default">Test</button>
    </div>
{% endblock %}

{% block footer_scripts %}
    {% load staticfiles %}
    <script src="{% static 'pyalgotrade/js/ace/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/github");
        editor.getSession().setMode("ace/mode/python");
        editor.setOption("showPrintMargin", false);

        $(document).ready(function(){
            $('#btnSubmit').click(function(e) {
                console.log("Lol");
                e.preventDefault();

                // information to be sent to the server
                var strategy = editor.getValue();

                $.ajax({
                    type: "POST",
                    url: '/testExec/execStrategy/',
                    dataType: "json",
                    data: {strategy: strategy},
                    success: function(result) {
                        $("#result").val(result.message);
                    }
                });
            });
        });
    </script>
{% endblock %}