*pyc
MANIFEST
doc/_build
.idea
.coverage
.ipynb_checkpoints
.ropeproject
.spyproject

dist
build
PyAlgoTrade.egg-info

testcases/twitter_credentials.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
