container_commands:
  collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python webapp/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    "PYTHONPATH": "/opt/python/current/app:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: webapp/webapp/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"