{% extends "pyalgotrade_web/header.html" %}

{% block content %}
    <style media="screen">
        #editor {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 608px;
        }

        #editorRow {
            height: 608px;
        }
    </style>
    <br/>
    <div class="row">
        <!--
       <div class="col-md-6">
             < <input type="text" placeholder="File name"/>
            <input type="text" class="pull-right" placeholder="Instrument"/>
             <select id="ddlOptType" class="pull-right" style="min-height:25px;min-width:70px;">
                <option value="PUT">PUT</option>
                <option value="CALL">CALL</option>
            </select>
            <input type="text" class="pull-right" placeholder="Expiration {mm/dd/yyyy}"/>

        </div>-->
         <!--<div class="col-md-6">

            <input type="text" placeholder="Start Date" />
            <input type="text" placeholder="End Date" />
            <input type="text" placeholder="Strike" />
            <button type="submit" class="btn btn-default">Build & Launch</button>

        </div>-->
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div id="editorRow" class="row">
                <div id="editor">class MyStrategy(optstrategy.OptionBacktestingStrategy):
    def __init__(self, feed, instrument, smaPeriod):
        super(MyStrategy, self).__init__(feed, 1000)
        self.__position = None
        self.__option = None
        self.__optionAlreadyExecuted = False
        self.__instrument = instrument
        # We'll use adjusted close values instead of regular close values.
        #self.setUseAdjustedValues(True)
        self.__sma = ma.SMA(feed[instrument].getPriceDataSeries(), smaPeriod)

    def onEnterOk(self, position):
        optstrategy.OptionBacktestingStrategy.onEnterOk(self, position)
        execInfo = position.getEntryOrder().getExecutionInfo()
        print("BUY at $%.2f" % (execInfo.getPrice()))

    def getSMA(self):
        return self.__sma

    def onEnterCanceled(self, position):
        self.__position = None

    def onExitOk(self, position):
        optstrategy.OptionBacktestingStrategy.onExitOk(self, position)
        execInfo = position.getExitOrder().getExecutionInfo()
        print("SELL at $%.2f" % (execInfo.getPrice()))
        self.__position = None

    def onExitCanceled(self, position):
        # If the exit was canceled, re-submit it.
        self.__position.exitMarket()

    def UpdateExpired(self, bars):
        if bars is not None:
            for instrument, shares in self.getBroker().getPositions().iteritems():
                ##### on va chercher la date pour detarminer lexpiration 'un option

                ##### on detecte vaguement si le format est pour une option
                if len(instrument) > 8:
                    time = self.getBroker()._getBar(bars, instrument).getDateTime()
                    year = self.getBroker()._getBar(bars, instrument).getDateTime().year
                    month = self.getBroker()._getBar(bars, instrument).getDateTime().month
                    day = self.getBroker()._getBar(bars, instrument).getDateTime().day
                    ####### Si la date de la bar est egale ou superieure a la date d'expiration, on annule les part et empeche les order sur cet instrument
                    currentdatetime= datetime.datetime.strptime(instrument[-8:], '%Y%m%d')
                    if datetime.datetime.strptime(instrument[-8:], '%Y%m%d') <= datetime.datetime(year, month, day):
                        #self.__logger.debug("POSITION EST EXPIREE")
                        shares = 0
#                        instument=None
                        for order in self.getBroker().getActiveOrders(instrument):
                            self.getBroker().cancelOrder(order)


    def onBars(self, bars):
        # Wait for enough bars to be available to calculate a SMA.
        if self.__sma[-1] is None:
            return
        self.UpdateExpired(bars)

        bar = bars[self.__instrument]
#        print("current bar price: $%.2f and current sma: $%.2f" % (bar.getPrice(), self.__sma[-1]))
        # If a position was not opened, check if we should enter a long position.
#        if self.__option is None and not self.__optionAlreadyExecuted:
        if self.__position is None:

            if bar.getPrice() > self.__sma[-1]:
                right = optbroker.OptionOrder.Right.PUT
                strike = bar.getPrice() + 10
                bar.getDateTime()
                expiry = datetime.datetime(2016, 3, 30, 16, 30)

                #if bar.getPrice() > self.__sma[-1]:
                    # Enter a buy market order for 10 shares. The order is good till canceled.
                self.__position = self.enterOptionLong(self.__instrument, 10, right, strike, expiry, True)
                #self.__optionAlreadyExecuted = True

#                print "Option executed for: $%.2f" % (bar.getPrice())
        # Check if we have to exit the position.
        #elif bar.getPrice() < self.__sma[-1] and not self.__position.exitActive():
            #self.__position.exitMarket()

        elif bar.getPrice() < self.__sma[-1] and not self.__position.exitActive():
            self.__position.exitMarket()
#            print "Option exited at: $%.2f" % bar.getPrice()



        #### l'ordre devrait etre generer a partir de la position de l'option avec le strike price si expiry n'est pas depasse
#        elif self.__position is None and self.__option.getAge().days == 25 :
#            self.__position = self.enterLong(self.__option.getInstrument(), 10, True)
#            print "Order executed at: $%.2f" % bar.getPrice()

#        elif self.__position is not None and self.__position.getAge().days == 60 :
#            self.__position.exitMarket()
#            print "Order exited at: $%.2f" % bar.getPrice()

def run_strategy(smaPeriod):
    # Load the yahoo feed from the CSV file
#    feed = yahoofeed.Feed()
#    feed.addBarsFromCSV("orcl", "orcl-2000.csv")
    feed = ibfeed.Feed()
    feed.addBarsFromCSV("bac20160308", DataSourceHelper.getDataFilePath("bac_20p20160308.csv"))

    # Evaluate the strategy with the feed.
#    myStrategy = MyStrategy(feed, "orcl", smaPeriod)
    myStrategy = MyStrategy(feed, "bac20160308", smaPeriod)

    # Attach a returns analyzers to the strategy.
    returnsAnalyzer = returns.Returns()
    myStrategy.attachAnalyzer(returnsAnalyzer)

    myStrategy.run()
    print "Final portfolio value: $%.2f" % myStrategy.getBroker().getEquity()

run_strategy(10)
                </div>
            </div>
            <div class="row">

                <button id="btnLoad" class="btn btn-default pull-left">Load</button>

                <button id="btnSave" class="btn btn-default pull-left">Save</button>

                <select id="ddlCsv" class="input-large" style="min-width: 80px; min-height: 33px;">
                    <option value="" selected disabled>Chart data</option>
                    {#<option value="bac_20p20160308" >BAC | PUT 20 | 2016-03-08</option>#}
                </select>

                {% csrf_token %}
                <button id="btnBeginBacktest" type="submit" class="btn btn-default pull-right">Begin Backtest</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div id="chartdiv" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
            </div>
            <div class="row">
                <div>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#log" aria-controls="log" role="tab" data-toggle="tab">Log</a></li>
                        <li role="presentation"><a href="#results" aria-controls="results" role="tab" data-toggle="tab">Results</a></li>
                        {#<li role="presentation"><a href="#markers" aria-controls="markers" role="tab" data-toggle="tab">Markers</a></li>#}
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="log">
                            <textarea id="backtestLog" readonly style="min-width: 100%;height:200px;"></textarea>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="results">
                            <textarea id="backtestResults" readonly style="min-width: 100%;height:200px;"></textarea>
                        </div>
                        {#<div role="tabpanel" class="tab-pane" id="markers">...</div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loadingmodal" style="display: none">
        <div class="loadingcenter">
            <div class="loader">
            </div>
        </div>
    </div>
    <div id="alert-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="alert-modal-title" class="modal-title"></h4>
                </div>
                <div id="alert-modal-body" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_scripts %}
    {% load staticfiles %}
    <script src="{% static 'pyalgotrade_web/js/ace/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/github");
        editor.getSession().setMode("ace/mode/python");
        editor.setOption("showPrintMargin", false);
    </script>

     <!-- amCharts javascript sources -->
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
    {#<script type="text/javascript" src="//www.amcharts.com/lib/3/themes/light.js"></script>#}
    <script type="text/javascript" src="//www.amcharts.com/lib/3/amstock.js"></script>

    <!-- amCharts javascript code -->
    <script type="text/javascript">

        var chart = AmCharts.makeChart( "chartdiv", {
            "type": "stock",
            "theme": "none",
            "dataDateFormat": "YYYY-MM-DD HH:NN:SS", //"2016-03-07 09:30:00"
            "categoryField": "date",
            "categoryAxis": {
                "parseDates": true,
                "minPeriod" : "ss"
            },
            "chartCursor": {
                "enabled": true,
                "categoryBalloonDateFormat": "YYYY-MM-DD HH:NN:SS", //"2016-03-07 09:30:00"
            },
            "cursorSettings": {
                "valueBalloonsEnabled": true,
                "valueLineBalloonEnabled": true,
                "valueLineEnabled": true
            },
            "chartScrollbar": {
                "enabled": true,
                "graph": "g1",
                "graphType": "line",
                "scrollbarHeight": 30,
                "updateOnReleaseOnly" : true
            },
            "valueAxes": [
                    {
                        "id": "ValueAxis-1"
                    }
            ],
            "dataSets": [ {
                "fieldMappings": [ {
                    "fromField": "open",
                    "toField": "open"
                }, {
                    "fromField": "close",
                    "toField": "close"
                }, {
                    "fromField": "high",
                    "toField": "high"
                }, {
                    "fromField": "low",
                    "toField": "low"
                }],
                "color": "#7f8da9",
                "dataProvider": [],
                "categoryField": "date",
                "stockEvents": []
            } ],
            "balloon": {
                "horizontalPadding": 13
            },
             "chartCursorSettings ": {
                "categoryBalloonDateFormats" : [ {period:"mm", format:"YYYY-MM-DD HH:NN:SS"} ],
                 "categoryBalloonEnabled": true
            },
             "categoryAxesSettings": {
                "minPeriod" : "ss",
                "groupToPeriods": ["mm"]
            },
            "panels": [ {
                "title": "Value",

                "stockGraphs": [ {
                    "id": "g1",
                    "type": "candlestick",
                    "balloonText": "Open:<b>[[open]]</b><br>Low:<b>[[low]]</b><br>High:<b>[[high]]</b><br>Close:<b>[[close]]</b><br>",
                    "closeField": "close",
                    "fillAlphas": 0.9,
                    "fillColors": "#7f8da9",
                    "highField": "high",
                    "lineColor": "#7f8da9",
                    "lowField": "low",
                    "negativeFillColors": "#db4c3c",
                    "negativeLineColor": "#db4c3c",
                    "openField": "open",
                    "title": "Price:",

                    "valueField": "close"
                } ]
            } ],
            "scrollBarSettings": {
                "graphType": "line",
                "usePeriod": "WW"
            },
            "panelsSettings": {
                "panEventsEnabled": true
            }
        } );

    </script>

{% endblock %}
